html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
  overflow: hidden;
}
canvas {
  display: block;
}

.secret_win {
  display: block;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  padding:20px;
  max-width: 300px;
  color:#FFF;
  top:30px;
  left:30px;
  border-radius: 3px;
  z-index: 5;
}

.secret_options {
  display: flex;
  position: relative;
  width:100%;
  flex-flow: row wrap;
}

.secret_options input {
  display: block;
  width:70%;
  height:30px;
  box-sizing: border-box;
  padding:0 !important;
  padding:12px !important;
  border-radius: 5px;
  border:0;
  outline:0;
}

.secret_options button {
  display: block;
  padding:0;
  padding-left:12px;
  padding-right: 12px;
  width:calc(30% - 7px);
  height:30px;
  margin-left:7px;
  box-sizing: border-box;
  border:0;
  outline:0;
  background-color:transparent;
  color:#FFF;
  border:1px solid #FFF;
  border-radius:5px;
  text-transform: uppercase;
}

.secret_options button:hover {
  background-color: #FFF;
  color:#222;
}

.secret_win h2 {
  margin:0;
  margin-bottom:7px;
}

.secret_win p {
  margin:0;
  margin-bottom:25px;
}

.temp_p {
  display:block;
  color:#FFF;
  position:fixed;
  padding:12px;
  box-sizing: border-box;
  z-index:2;
  min-width:200px;
  border-radius: 5px;
}